@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
  background-color: #faf3eb;
}

.header {
  height: 94px;
}

.nav {
  max-width: 1400px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 40px;
  font-weight: bold;
  font-size: 1.1rem;
}

.nav .nav-menu {
  display: none;
}

.nav .section-one {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-shrink: 2;
}

.nav .section-one .logo {
  font-weight: bolder;
  font-size: 1.2rem;
}

.nav .section-one .nav-links {
  display: flex;
  gap: 40px;
}

.nav .section-one .nav-links .nav-link {
  list-style: none;
}

.nav .section-two {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 1;
}

.nav .section-two a {
  text-decoration: none;
  background-color: #cf2e23;
  color: #fff;
  padding: 10px 20px;
}

/* 
*******************************
*********HERO SECTION*********
*******************************
*/

.hero {
  display: flex;
  padding: 10px 0;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: flex-end;
}

.hero .hero-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-self: center;
  margin-right: 8%;
  padding: 20px;
  flex-shrink: 1;
}

.hero .hero-text a {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #cf2e23;
  color: #cf2e23;
  padding: 10px 20px;
  margin-top: 10px;
}

.hero .hero-text a:first-child {
  margin-right: 10px;
}

.hero .hero-img {
  flex-shrink: 2;
}

.hero .hero-img img {
  max-width: 100%;
}

/* 
*******************************
***SCROLLING TEXT SECTION******
*******************************
*/

.scrolling-text {
  max-width: 1440px;
  margin: 40px auto;
  overflow-x: hidden;
}

.scrolling-text p {
  white-space: nowrap;
  font-size: 6rem;
  letter-spacing: 5px;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
  transform: translateX(-16760px);
  animation: movetext 20s linear infinite;
}

@keyframes movetext {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* 
*******************************
*********MEDIA QUERIES*********
*******************************
*/

@media screen and (max-width: 1100px) {
  .nav {
    font-size: 1rem;
  }
  .nav .section-one {
    gap: 40px;
  }

  .nav .section-one .logo {
    font-size: 1.1rem;
  }

  .nav .section-one .nav-links {
    gap: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .nav .nav-menu {
    display: inline-block;
    font-size: 2rem;
    color: #cf2e23;
  }

  .nav .section-one .logo {
    font-size: 1.2rem;
  }

  .nav .section-one .nav-links {
    display: none;
  }

  .nav .section-two {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 40px;
  }

  .hero .hero-text {
    margin-right: 0;
  }

  .hero .hero-text p {
    max-width: 95%;
    line-height: 1.7;
  }
}

@media screen and (max-width: 400px) {
  .nav {
    padding: 0 20px;
  }
}
