@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
  background-color: #faf3eb;
}

.header {
  height: 94px;
}

.nav {
  max-width: 1400px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 40px;
  font-weight: bold;
  font-size: 1.1rem;
}

.nav .nav-menu {
  display: none;
}

.nav .section-one {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-shrink: 2;
}

.nav .section-one .logo {
  font-weight: bolder;
  font-size: 1.2rem;
}

.nav .section-one .nav-links {
  display: flex;
  gap: 40px;
}

.nav .section-one .nav-links .nav-link {
  list-style: none;
}

.nav .section-two {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 1;
}

.nav .section-two a {
  text-decoration: none;
  background-color: #cf2e23;
  color: #fff;
  padding: 10px 20px;
}

/* 
*******************************
*********HERO SECTION*********
*******************************
*/

.hero {
  display: flex;
  padding: 10px 0;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: flex-end;
}

.hero .hero-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-self: center;
  margin-right: 8%;
  padding: 20px;
  flex-shrink: 1;
}

.hero .hero-text a {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #cf2e23;
  color: #cf2e23;
  padding: 10px 20px;
  margin-top: 10px;
}

.hero .hero-text a:first-child {
  margin-right: 10px;
}

.hero .hero-img {
  flex-shrink: 2;
}

.hero .hero-img img {
  max-width: 100%;
}

/* 
*******************************
***SCROLLING TEXT SECTION******
*******************************
*/

.scrolling-text {
  max-width: 1440px;
  margin: 40px auto;
  overflow-x: hidden;
}

.scrolling-text p {
  white-space: nowrap;
  font-size: 6rem;
  letter-spacing: 5px;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
  transform: translateX(-16760px);
  animation: movetext 20s linear infinite;
}

@keyframes movetext {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* 
*******************************
*******SECTION STRIPES*********
*******************************
*/

.section-stripes {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}

.section-stripes > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-stripes > section img {
  width: 100%;
}

.section-stripes > section .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-stripes > section .text h2 {
  font-size: 4rem;
  letter-spacing: 3px;
}

.section-stripes > section .text p {
  max-width: 85%;
}

.section-stripes > section .text a {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #cf2e23;
  color: #cf2e23;
  padding: 10px 20px;
  margin-top: 10px;
  width: 150px;
}

.section-stripes .one .text {
  margin-left: 15%;
}

.section-stripes .three .text {
  margin-left: 15%;
}

.section-stripes .three .text .social-links {
  display: flex;
  gap: 20px;
}

.section-stripes .three .text .social-links span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #cf2e23;
}

.section-stripes .three .text .social-links span i {
  color: #cf2e23;
}

/* 
*******************************
*******SECTION FOOTER*********
*******************************
*/

.footer {
  padding: 60px 100px;
  background-color: #cf2e23;
  color: #fff;
}

.footer .one {
  display: flex;
  justify-content: space-between;
}

.footer .one img {
  width: 150px;
}

.footer .one .footer-links {
  display: flex;
  gap: 30px;
}

.footer .one .footer-links .services,
.footer .one .footer-links .social-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .two {
  margin-top: 50px;
}

.footer .two p:first-child {
  margin-bottom: 20px;
}

/* 
*******************************
*********SECTION PATTERN*********
*******************************
*/

.pattern {
  background: url("https://theuppercrustpizzeria.com/wp-content/themes/upper_crust/images/pattern.jpg");
  height: 80px;
}

/* 
*******************************
*********MEDIA QUERIES*********
*******************************
*/

@media screen and (max-width: 1100px) {
  .nav {
    font-size: 1rem;
  }
  .nav .section-one {
    gap: 40px;
  }

  .nav .section-one .logo {
    font-size: 1.1rem;
  }

  .nav .section-one .nav-links {
    gap: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .nav .nav-menu {
    display: inline-block;
    font-size: 2rem;
    color: #cf2e23;
  }

  .nav .section-one .logo {
    font-size: 1.2rem;
  }

  .nav .section-one .nav-links {
    display: none;
  }

  .nav .section-two {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .section-stripes {
    gap: 40px;
  }

  .section-stripes > section {
    padding: 0 20px;
  }

  .section-stripes .two .text {
    margin-left: 15%;
  }

  .section-stripes .one,
  .section-stripes .two,
  .section-stripes .three {
    flex-direction: column;
    gap: 30px;
  }

  .footer .one {
    flex-direction: column;
    gap: 40px;
  }
}

@media screen and (max-width: 750px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 40px;
  }

  .hero .hero-text {
    margin-right: 0;
  }

  .hero .hero-text p {
    max-width: 95%;
    line-height: 1.7;
  }

  .footer {
    padding: 60px;
  }
}

@media screen and (max-width: 400px) {
  .nav {
    padding: 0 20px;
  }

  .footer {
    padding: 60px 30px;
  }
}
